/* Add this to your Storelocatore.css file */

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure it stays behind other content */
}


.dropdown {
    position: relative;
    text-align: center;
}

.dropbtn {
    background-color: #3498db; /* A nice blue shade */
    color: white; /* White text color */
    padding: 10px 20px; /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px; /* Font size */
    border: none; /* No border */
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove the outline to make it look cleaner */
    transition: background-color 0.3s ease; /* Transition for a smooth color change on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on click */
.dropdown-content.show {
    display: block;
}

/* Change background color slightly on hover for visual feedback */
.dropbtn:hover {
    background-color: #2980b9;
}
